@media (max-width: 960px) {
  .row {
    padding: 0 20px;
  }
  .tab .movie_title ul {
    width: auto;
  }
  .tab .movie_title ul li {
    width: 25%;
    box-sizing: border-box;
  }
}

@media (max-width: 768px) {
  body {
    background-color: #d9d7e0;
  }
  #header {
    background-color: #fff;
  }
  .row {
    padding: 0 16px;
  }

  #tab .row {
    background-color: #fff;
    margin: 24px;
    padding: 24px;
  }
  #tab .row .ir_su {
    position: static;
    width: auto;
    height: auto;
    line-height: normal;
    text-indent: 0px;
  }
  .tab {
    padding: 0;
  }
  .tab .movie_title ul {
    position: relative;
  }
  .tab .movie_title ul::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #ccc;
  }
  .tab .movie_title ul li {
    border: 0;
    width: auto;
  }
  .tab .movie_title ul li a {
    padding: 0;
    margin-right: 35px;
    position: relative;
    font-weight: 500;
  }

  .tab .movie_title ul li.active a {
    background-color: #fff;
    color: #222;
  }
  .tab .movie_title ul li.active a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 4px;
    background-color: #39106a;
  }
}

@media (max-width: 600px) {
  #tab .row {
    background-color: #fff;
    margin: 8px;
    padding: 8px;
  }
  .tab .movie_title {
    margin-bottom: 20px;
  }
  .tab .movie_title ul {
    padding-bottom: 3px;
  }
  .tab .movie_title ul li a {
    font-size: 14px;
    margin-right: 15px;
  }
  .tab .movie_title ul li.active::after {
    bottom: -3px;
    width: 90%;
    height: 2px;
  }
}
